:root {
  // main color palette
  --canopy-green: #014038;
  --meadow-mist: #96BAA0;
  --sky-bloom: #BDD4DA;
  --sunlit-petal: #F0C06D;
  --cloudy-grey: #F7F7F7;
  --cloudy-grey-t: #f7f7f7c8;
  --meadow-mist-t: #96BAA0c8;


  // main font color
  --willow-gray: #C5C3C3;
}