:root {
  // main color palette
  --canopy-green: #014038;
  --meadow-mist: #96BAA0;
  --sky-bloom: #BDD4DA;
  --sunlit-petal: #F0C06D;
  --cloudy-grey: #F7F7F7;
  --canopy-green-t: #014038a7;


  // main font color
  --willow-gray: #C5C3C3;
}