@use "../util" as *;

.aboutus {
    justify-content: center;
    text-align: center;

    &__image {
        border-radius: rem(50);
        max-width: 100%;
    }

    &__stuffBox {
        margin: rem(16) auto;
        padding: rem(16);
        color: var(--canopy-green);
        background-color: var(--meadow-mist);
        border: rem(0);
        border-radius: rem(15);
        width: 95%;
    }

    &__formBox {
        margin: rem(24) auto;
    }

    input[type="text"],
    input[type="submit"],
    button {
        // padding-left: rem(10);
        margin: rem(0) auto rem(16);
        border: 0 solid var(--sky-bloom);

        padding: 0 rem(16);
        height: rem(30);
        width: 50%;
        min-width: rem(250);
        border-radius: rem(15);
        color: var(--canopy-green);
        background-color: var(--cloudy-grey);
    }

    &__message {
        padding: rem(16);
        border: 0 solid var(--sky-bloom);
        width: 50%;
        min-width: rem(250);
        border-radius: rem(15);
        color: var(--canopy-green);
        background-color: var(--cloudy-grey);
    }
}

.googlemap {
    padding-bottom: 50%;
    position: relative;
}

.googlemap iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}

// Styles for the form message
.form-message {
    margin: rem(16) auto;
    width: 50%;
    padding: rem(8);
    border-radius: rem(20);
    color: var(--canopy-green);
    background-color: var(--sky-bloom);
    display: none;
}

.form-message.error {
    background-color: red;
}

.form-message.success {
    background-color: var(--sky-bloom);
}
