@use '../util' as *;

.header {
  background-color: var(--sky-bloom);
  color: var(--canopy-green);
  padding: 15px 0;
  // margin-top: rem(24);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  // for screens larger than medium
  @include breakpoint(medium) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // for mobile screens
  @include breakpoint-down(small) {
    padding: rem(10) 0;
  }

  // header__left
  &__hamburger {
    display: flex;
    align-items: center;
    margin-left: rem(10);
  }

  // header__center
  &__logo {
    display: flex;
    align-items: center;
    margin: 0 auto;
  }

  // header__right
  &__search,
  &__searchbar,
  &__shoppingcart,
  &__account {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: auto;
    margin-right: rem(10);
  }

  &__search {
    margin-right: rem(2);
  }

  input[type="text"] {
    padding-left: rem(10);
    box-sizing: border-box;
    border: 0 solid var(--sky-bloom);
    height: rem(30);
    border-radius: rem(15);
    color: var(--canopy-green);
    background-color: var(--meadow-mist);
  }

  // Hide the search bar and profile icon on mobile
  @include breakpoint-down(small) {

    input[type="text"],
    .header__account {
      display: none;
    }
  }


  // containers for layouts
  &__left {
    display: flex;
    justify-content: flex-start;
    flex: 1;
  }

  &__center {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: rem(10);
    margin: 0 auto;
    text-align: center;
    position: center;
  }

  &__right {
    display: flex;
    justify-content: flex-end;
    flex: 1;
  }
}