@use "../util" as *;

.homeContent {
    display: flex;
    text-align: center;
    justify-content: space-around;

    // for screens larger than medium
    @include breakpoint(medium) {
        display: flex;
        justify-content: space-around;
    }

    &__categories,
    &__links {
        display: flex;
        flex-direction: column;
    }

    &__center {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 66%;
        margin: 0;
    }

    &__products,
    &__reviews {
        display: flex;
        flex-wrap: wrap;
        padding: auto;
        width: 100%;
        margin: 0 auto;
    }

    &__stuffBox {
        margin: rem(16) auto;
        color: var(--canopy-green);
        background-color: var(--cloudy-grey);
        padding: rem(10);
        border: rem(0);
        border-radius: rem(16);
        // margin-left: auto;
        // margin-right: auto;
    }

    &__image{
        border-radius: rem(30);
    }

    &__featured-products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: rem(20);
        
    }

    &__product-card {
        border-radius: rem(16);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: transform 0.3s ease;
        background-color: var(--meadow-mist);

        &:hover {
            transform: translateY(-5px);
        }

        &__image {
            width: 100%;
            height: auto;
            overflow: hidden;
            // max-width: rem(300);

            img {
                width: 100%;
                height: auto;
                
                object-fit: cover;
            }
        }

        &__details {
            // display: flex;
            // flex-direction: column;
            // align-items: stretch;
            padding: 15px;
            background-color: var(--meadow-mist);

            
        }

        &__title {
            margin: 10px 0 5px;
            color: var(--canopy-green);
        }

        &__price {
            color: var(--canopy-green)

        }
    }

    // for mobile screens
    @include breakpoint-down(small) {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;

        &__featured-products {
            padding: rem(8);
            grid-template-columns: repeat(1, 1fr);
        }

        &__center {
            padding: rem(0);
            width: 100%;
            max-width: 100%;
        }

        &__categories,
        &__products,
        &__reviews,
        &__links {
            display: flex;
            margin: 0 auto;
            width: 100%;
            justify-content: center;
        }

        &__stuffBox {
            margin: rem(24) auto;
            width:95%;
        }

        &__image {
            border-radius: rem(16);
        }
    }
}

.category,
.link {
    display: block;
    background-color: var(--meadow-mist);
    padding: rem(20);
    margin-top: rem(5);
    margin-bottom: rem(5);
    border: rem(3) solid var(--sky-bloom);
    transition: all 0.5s;
    border-radius: rem(16);
    position: center;
}

.product, 
.review {
    display: inline-block;
    margin-bottom: rem(30);
    background-color: var(--meadow-mist);
    border: rem(3) solid var(--sky-bloom);
    padding: rem(10);
    border-radius: rem(16);
    width: rem(300);
    height: rem(350);
}

.review {
    height: rem(75);
}

.category:hover,
.product:hover,
.review:hover,
.link:hover {
    background-color: var(--sky-bloom);
    color: var(--canopy-green);
    border-color: var(--sunlit-petal);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
    transition: all 0.5s ease-out;
}

