@use "../util" as *;

.reviews {
    margin: auto;

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: rem(20);
        padding: rem(20) 0; 
        
        
    }

    &__item {
        border-radius: rem(10);
    margin: 0 0 auto;
    }

    &__image img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: rem(10);
    }

    &__review {
        border: var(--sunlit-petal) rem(3) solid;
        background-color: var(--meadow-mist);
        color: var(--canopy-green);
        padding: rem(8);
        
        .bodyLarge {
            margin: 0;
        }

        .star-rating {
            display: inline-block;
            i {
                color: var(--sunlit-petal);
                font-size: rem(24);
                margin-right: rem(5);
            }
        }
    }

    @include breakpoint-down(small) {
        &__grid {
            display: flex;
            flex-direction: column;
            padding: rem(8);
            #reviews_image1 { order: 1; }
            #reviews_review1 { order: 2; }
            #reviews_image2 { order: 3; }
            #reviews_review2 { order: 4; }
            #reviews_image3 { order: 5; }
            #reviews_review3 { order: 6; }
        }
    }
}