@use "../util" as *;

.shop {
    display: flex;
    justify-content: space-around;

    &__categories {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: rem(20);
    }

    &__products {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding: 20px;
        width: 80%;
    }

    .product-card {
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: transform 0.3s ease;
        background-color: var(--meadow-mist);

        &:hover {
            transform: translateY(-5px);
        }

        &__image img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }

        &__details {
            display: flex;
            padding: 15px;
            background-color: var(--meadow-mist);

            &-left {
                flex: 1;
            }

            &-right {
                display: flex;
                align-items: center;
            }
        }

        .cart-btn,
        &__title,
        &__price {
            color: var(--canopy-green);
        }

        &__title {
            margin: 0 0 5px;
        }

        &__price {
            margin: 0;
        }
    }

    @include breakpoint-down(small) {
        flex-direction: column-reverse;
        justify-content: center;

        &__products {
            width: 100%;
            padding: rem(8);
            grid-template-columns: repeat(1, 1fr);
        }

        &__categories {
            margin: 0;
        }
    }
}