@use "../util" as *;

.shop {
    display: flex;
    justify-content: space-around;

    &__categories {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: rem(20);
    }

    &__products {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: rem(20);
        padding: rem(20);
        width: 80%;
    }

    .product-card {
        position: relative; /* Add this to position the message */
        border-radius: rem(8);
        box-shadow: 0 rem(4) rem(8) rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: transform 0.3s ease;
        background-color: var(--meadow-mist);

        &:hover {
            transform: translateY(rem(-5));
        }

        &__image img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }

        &__details {
            display: flex;
            padding: rem(15);
            background-color: var(--meadow-mist);

            &-left {
                flex: 1;
            }

            &-right {
                display: flex;
                align-items: center;
                position: relative; /* Add this to position the message */
            }
        }

        .cart-btn:hover {
            color: var(--sunlit-petal);
        }

        .cart-btn,
        &__title,
        &__price {
            color: var(--canopy-green);
        }

        &__title {
            margin: 0 0 rem(5);
        }

        &__price {
            margin: 0;
        }
    }

    @include breakpoint-down(small) {
        flex-direction: column-reverse;
        justify-content: center;

        &__products {
            width: 100%;
            padding: rem(8);
            grid-template-columns: repeat(1, 1fr);
        }

        &__categories {
            margin: 0;
        }
    }
}

// Styles for the temporary message
.cart-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--canopy-green);
    color: white;
    padding: rem(5) rem(10);
    border-radius: rem(5);
    font-size: 0.9rem;
    z-index: 10;
    animation: stayAndFade 6s forwards;
}

@keyframes stayAndFade {
    0% {
        opacity: 1;
    }
    67% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

// Modal Styles
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--canopy-green-t);
}

.modal-content {
    background-color: var(--sky-bloom);
    margin: 15% auto;
    padding: rem(20);
    width: 50%;
    border-radius: rem(20);

    &__button {
        border: var(--meadow-mist) solid rem(2);
        background-color: var(--meadow-mist);
        border-radius: rem(10);
        height: rem(30);
        padding: 0 rem(15);

        &:hover {
            background-color: var(--sunlit-petal);
            text-decoration: none;
            cursor: pointer;
        }
    }
}

.close {
    color: var(--canopy-green);
    float: right;
    font-size: rem(28);
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--sunlit-petal);
    text-decoration: none;
    cursor: pointer;
}
